body {
  text-align: center;
  background-color: #0000AA;
   text-shadow: 0px 4px 4px black;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: white;
  animation: glow 2s ease-in-out infinite alternate;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
  transform: translateY(4px);
}

.flash {
  opacity: 0.2;
  transition: opacity 0.2s;
}

h2{
  font-family: 'Press Start 2P', cursive;
  color: white;
   animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
            from {
                text-shadow: 0 0 20px cyan, 0 0 40px cyan;

            }

            to {
                text-shadow: 0 0 10px #0000AA, 0 0 20px #0000AA;
            }
          }